a {
    text-decoration: none !important;
}

.home-btn
{
    size: 100px;
}

.user-font
{
    font-size: 200;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    right: 10px;
}

.logout-btn
{
    position: relative;
    right: 0px;
    left: 90px;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #87857f;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(232, 222, 189), rgb(10, 10, 10));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom,dimgray,dimgray)
    }

.userhome
{
    text-decoration: none;
    color: black;
    font-size: 40px;
    position: relative;
    left: 30px;
    top: 10px;
    z-index: 1;
}

.userhome:hover
{
    color: white;
}

